%div#hd
  %h2
    T<sub class="tex">E</sub>X hyphenation patterns
    %a{href: "http://www.tug.org"}
      %img.right{alt: "TUG logo", src: "tug.png"}
  %div#navigation

%div#bd
  %div#content.hyphenate
    %a{name: "start"}
    %div.section#introduction
      %h3 Introduction
      %p This is the central place for hyphenation patterns in T<sub class="tex">E</sub>X.  They are all bundled in a single package called hyph-utf8.
      %ul
        %li
          %a{href: "http://tug.org/mailman/listinfo/tex-hyphen"} tex-hyphen mailing list
        %li
          %a{href: "https://github.com/hyphenation/tex-hyphen"} tex-hyphen source repository
        %li
          %a{href: "http://mirror.ctan.org/language/"} language directory on CTAN

      %h4 For pattern authors
      %p
        If you are a pattern author and wish to update your patterns, please contact the hyph-utf8
        package maintainers through the
        %a{target: "_blank", href: "http://tug.org/mailman/listinfo/tex-hyphen"} tex-hyphen mailing list
        &#x2e;

    %div.section#documentation
      %h3 Documentation
      %h4 Algorithm
      %ul
        %li
          %a{target: "_blank", href: "http://tug.org/docs/liang"} Frank Liang’s thesis
        %li
          %a{target: "_blank", href: "http://en.wikipedia.org/wiki/Hyphenation_algorithm"}
            Hyphenation algorithm (article on Wikipedia)
      %h4 Papers
      %ul
        %li
          %a{href: "http://mirror.ctan.org/language/hyph-utf8/doc/generic/hyph-utf8/hyphenation.pdf"}
            Documentation
          (needs improvement)
        %li
          %a{href: "http://mirror.ctan.org/language/hyph-utf8/doc/luatex/hyph-utf8/luatex-hyphen.pdf"}
            Documentation for the Lua(La)T<sub class="tex">E</sub>X part of the package
        %li
          %a{href: "http://tug.org/TUGboat/tb29-3/tb93miklavec.pdf"}
            TUG 2008 paper
        %li
          %a{href: "http://tug.org/TUGboat/tb37-2/tb116miklavec.pdf"}
            TUG 2016 paper
        %li
          %a{href: "http://tug.org/TUGboat/tb36-1/tb112hyf.pdf"}
            The latest public hyphenation exception log from TUGboat, volume 36 (2015), no. 1

      %h4 Slides
      %ul
        %li
          %a{href: "pdf/hyphenator.pdf"}
            T<sub class="tex">E</sub>X hyphenation applied to HTML
          (Mathias Nater, BachoT<sub class="tex">E</sub>X 2010)

      %h4 Related packages
      %ul
        %li
          %a{href: "http://mirror.ctan.org/macros/latex/required/babel/babel.pdf"} Babel
          (pdf; 624KB) &ndash; for pdfT<sub class="tex">E</sub>X and other 8-bit
          T<sub class="tex">E</sub>X engines
        %li
          %a{href: "http://mirror.ctan.org/macros/xetex/latex/polyglossia/polyglossia.pdf"} Polyglossia
          (pdf: 133KB) &ndash; for XƎT<sub class="tex">E</sub>X and LuaT<sub class="tex">E</sub>X

    %div.section#links
      %h3 Links
      %h4 Collaboration
      %ul
        %li
          %a{target: "_blank", href: "https://developer.mozzila.org/en/CSS/hyphens"} Mozilla
        %li
          %a{target: "_blank", href: "http://offo.sourceforge.net/hyphenation/index.html"}
            FOP XML Hyphenation patterns
          (Simon Pepping)
        %li
          %a{target: "_blank", href: "https://metacpan.org/pod/TeX::Hyphen::Pattern"}
            T<sub class="tex">E</sub>X-Hyphen-Pattern</a> (Perl implementation on
            %a{target: "_blank", href: %"http://search.cpan.org/~ipenburg/TeX-Hyphen-Pattern-0.03/lib/TeX/Hyphen/Pattern.pm"}
              CPAN
            (Roland von Ipenburg)
        %li
          %a{target: "_blank", href: "https://github.com/mnater/hyphenator"} Hyphenator.js
          (Client-side implementation of hyphenation in HTML documents) (Mathias Nater)

      %h4 OpenOffice.org
      %ul
        %li
          %a{target: "_blank", href: "http://www.ushuaia.pl/hyphen/?ln=en"}
            Test T<sub class="tex">E</sub>X/OpenOffice hyphenation algorithm online
          (based on hunspell)
        %li
          %a{target: "_blank", href: "http://wiki.services.openoffice.org/wiki/Documentation/SL/Using_TeX_hyphenation_patterns_in_OpenOffice.org"}
            Using T<sub class="tex">E</sub>X hyphenation patterns in OpenOffice.org
          (explains how to properly convert T<sub class="tex">E</sub>X patterns into OpenOffice-friendly
          form)

      %h4 Other external links
      %ul
        %li
          %a{target: "_blank", href: "http://hunspell.sourceforge.net/"} Hunspell
          (library)
        %li
          %a{target: "_blank", href: "http://extensions.services.openoffice.org/dictionary"}
            Open Office language extensions
        %li
          %a{target: "_blank", href: "https://rubygems.org/gems/text-hyphen/"} text-hyphen
          (rubyforge);
          %a{target: "_blank", href: "https://github.com/halostatue/text-hyphen"} (source code repository)
        %li
          %a{target: "_blank", href: "http://sourceforge.net/projects/texhyphj/"}
            T<sub class="tex">E</sub>X Hyphenator in Java
        %li
          %a{target: "_blank", href: "https://github.com/ekmett/hyphenation"}
            Knuth-Liang Hyphenation for Haskell
        %li
          Indic languages:
          %ul
            %li
              %a{target: "_blank", href: "http://git.savannah.gnu.org/cgit/smc.git/tree/hyphenation"}
                git repository
            %li
              Santhosh Thottingal’s blogs:
              %ul
                %li
                  %a{target: "_blank", href: "http://thottingal.in/blog/2008/12/13/hyphenation-of-indian-languages-and-openoffice"}
                    Hyphenation of Indian Languages and Openoffice
                %li
                  %a{target: "_blank", href: "http://thottingal.in/blog/2008/12/16/hyphenation-of-indian-languages-in-webpages"}
                    Hyphenation of Indian Languages in Webpages
                %li
                  %a{target: "_blank", href: "http://thottingal.in/blog/2009/08/15/ooo_hyphenation_extensions/"}
                    New Hyphenation Pattern Extensions for OpenOffice.org
                %li
                  %a{target: "_blank", href: "http://thottingal.in/blog/2009/10/03/inkscape-hyphenation-extension/"}
                    Inkscape hyphenation extension
        %li
          An article about the
          %a{target: "_blank", href: "http://www.cs.tut.fi/~jkorpela/shy.html"} soft hyphen
        %li
          %a{target: "_blank", href: "https://github.com/bramstein/typeset/"}
            T<sub class="tex">E</sub>X line breaking algorithm in JavaScript

    %div.section#languages
      %h3 Languages
      %p
        The list of supported languages is in the table below.  Note that
        %a{href: 'http://mirrors.ctan.org/language/hyphenation/dehyph-exptl/dehyph-exptl.pdf'} German
        and
        %a{href: 'tex-hyphen/hyph-utf8/doc/generic/hyph-utf8/division.pdf'} Spanish
        have additional documentation in a separate file.

      %p (if patterns for any other language exist and are missing below please let us know)

      - if @languages.count < 16
        %p
          %i
            This list is very incomplete; the full list of supported languages will be displayed when
            Mojca lets me merge the
            %a{href: 'https://github.com/hyphenation/tex-hyphen/pull/1'} pull request
            &#x2d;- Arthur.
      %table{border: "1"}
        %tr
          %td &nbsp;
          %th name, synonyms
          %td{align: "center"}
            %a{href: 'https://tools.ietf.org/html/bcp47'} BCP 47 tag
            (link to file)
          %td{align: "center"} (left, right)­hyphenmin
          %td{align: "center"} 8-bit­encoding
          %td{align: "center"} licence
          %td{align: "center"} authors

          - @languages.each do |language|
            %tr
              %td
                %strong= language.name
              %td= language.bcp47
              %td
                %a{href: "#{language.github_link}"}= language.bcp47
              %td= "(#{language.lefthyphenmin}, #{language.righthyphenmin})"
              -# %td= language[:'8bitenc'] # FIXME Add
              %td= language.licences.join(', ')
              %td= language.authors.join('<br />')

%div#ft
  %p.small
    %a{href: "http://tug.org"} TUG home page
    |
    %a{href: "http://tug.org/htdig/"} search on tug.org
    |
    %a{href: "mailto:info@hyphenation.org"} contact webmaster
    |
    design by
    %a{href: "http://www.fiee.net"} fiëé visuëlle
    %span.right Latest change: 7 March 2018
